    <html>
        <head>
            <title>Seub's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Seub's blog</a></h1>
            </div>

            <div>
                <p>published: 19.07.2016, 00:39</p>
                <h2><a href="">My first post</a></h2>
                <p>My first post content</p>
            </div>

            <div>
                <p>published: 19.07.2014, 00:40</p>
                <h2><a href="">My second post</a></h2>
                <p>My Second post content hiiiiiiii</p>
            </div>
        </body>
    </html>
	
